<div class="container main-content">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>Add a new ingredient<br><small>Fill this small form to create a new delicious ingredient !</small></h1>
            <hr>

        </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <form ng-submit="add_ingredient(ing)">
                    <label for="name" class="text-left">Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" ng-model="ing.name">

                    <label for="picture" class="text-left">Picture:</label>
                    <input type="text" class="form-control" name="picture" placeholder="Picture" ng-model="ing.picture">

                    <label for="description" class="text-left">Description:</label>
                    <TEXTAREA name="description" class="form-control" placeholder="Description" rows=2 COLS=40 ng-model="ing.description" ></TEXTAREA>

                    <label for="values" class="text-left">Values:</label>
                    <input type="text" class="form-control" name="values" placeholder="Values" ng-model="ing.values" >
                    <br>
                    <input type="submit" class="btn btn-default" value="Add the ingredient!"/>
                </form>
            </div>
    </div>
</div>