<div class="container main-content">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>Add a new ingredient<br><small>Fill this small form to create a new delicious ingredient !</small></h1>
            <hr>

        </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <form ng-submit="add_ingredient(ing)">
                    <label for="name" class="text-left">Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" ng-model="ing.name">

                    <label for="picture" class="text-left">Picture:</label>
                    <input type="text" class="form-control" name="picture" placeholder="Picture" ng-model="ing.picture">

                    <label for="description" class="text-left">Description:</label>
                    <TEXTAREA name="description" class="form-control" placeholder="Description" rows=2 COLS=40 ng-model="ing.description" ></TEXTAREA>

                    <label for="values" class="text-left">Values:</label>
                    <input type="text" class="form-control" name="values" placeholder="Values" ng-model="ing.values" >
                    <br>
                    <input type="submit" class="btn btn-default" value="Add the ingredient!"/>
                </form>
                     <div class="alert fade in" id="ingradd-error" style="display:none;">
                        Something went wrong. Could not add this ingredient.
                    </div>
            </div>

            <div class="modal fade" id="ingrAddModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Success !</h4>
                    </div>
                    <div class="modal-body">
                      The ingredient was added successfully to Nourriture ! Thank you.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">OK !</button>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>