<div class="container main-content">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>Product profil<br><small>Check all these sweet infos about this product !</small></h1>
            <a  ng-if="role == 2 || role == 4" type="button" href="#edit/product/{{id}}" class="btn btn-default">Edit</a>
            <hr>

        </div>

        <div class="col-md-12 text-center">

            <h1>{{ name }}</h1>
            <button class="btn btn-primary" type="button">
                Calories <span class="badge">{{values}}</span>
            </button>
            <br/>

        </div>
            <div class="col-md-8 col-md-offset-2 text-center">

                <img class="img-thumbnail img-responsive" src="{{picture}}" alt="picture" width="500px" height="300px"/>

                <h3>Description</h3>
                <p>{{description}}</p>

            </div>

        <form ng-submit="add_comment(c)">
            <TEXTAREA name="comment" class="form-control" placeholder="comment..." rows=2 COLS=40 ng-model="c.comment" ></TEXTAREA>
            <input type="submit" class="btn btn-default" value="Add the comment!"/>
        </form>
        <div class="col-md-8 comments" ng-repeat-start="c in comments">
            <div class="media">
                <a class="media-left" href="#profil/{{c.user._id}}">
                    <img src="{{c.user.picture}}" alt="..." width="64px" height="64px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{c.user.firstname}} {{c.user.lastname}}</h4>
                    <p>{{c.comment}}</p>
                </div>
            </div>
        </div>
        <div  ng-repeat-end=""></div>
        <br>
			<facebook-like layout="button_count" share="true"></facebook-like>
    </div>
</div>