<div class="container main-content">
		<div class="row">
			<div class="col-md-12 text-center">

				<h1>Search<br><small>Looking for delicious food ? Appetizing recipes ? </small></h1>
				<hr>

				<form role="form" ng-submit="search_data(form_search)">
					  <div class="form-group">
					    <label for="search">Search</label>
					    <input type="text" class="form-control" id="search" ng-model="form_search.name" placeholder="Search">
					  </div>
					   <div class="form-group">
					    <label for="search">Minimum Calories</label>
					    <input type="text" class="form-control" id="minCal" ng-model="form_search.minCal" placeholder="0">
					  </div>
					  <div class="form-group">
					    <label for="search">Maximum Calories</label>
					    <input type="text" class="form-control" id="maxCal" ng-model="form_search.maxCal" placeholder="0">
					  </div>

					  
					  <button type="submit" class="btn btn-default">Search</button>
				</form>
				<br/>
			</div>

			<h1>Ingredients</h1>
			<div ng-show="!ingredients.length">No Ingredients</div>
			<div ng-if="ingredients" class="col-sm-6 col-md-4" ng-repeat-start="s in ingredients">
            <div class="thumbnail">
              <img src="{{s.picture}}" alt="{{s.name}}\'s picture" width="300px" height="300px">
              <div class="caption">
                <h3>{{s.name}}<small> {{s.brand}}</small></h3>
                <p>Calories : {{s.values}}</p>
                <p>{{s.description}}</p>
                <p><a href="#ingredient/{{s._id}}" class="btn btn-primary" role="button">See item page</a>
              </div>
            </div>
          </div>
          <div  ng-repeat-end=""></div>
          
			<h1>Products</h1>
          <div ng-show="!products.length">No Products</div>
          <div ng-if="procucts.length" class="col-sm-6 col-md-4" ng-repeat-start="s in products">
            <div class="thumbnail">
              <img src="{{s.picture}}" alt="{{s.name}}\'s picture" width="300px" height="300px">
              <div class="caption">
                <h3>{{s.name}}</h3>
                <p>Calories : {{s.values}}</p>
                <p>{{s.description}}</p>
                <p><a href="#product/{{s._id}}" class="btn btn-primary" role="button">See item page</a>
              </div>
            </div>
          </div>
          <div  ng-repeat-end=""></div>
         
			<h1>Receipes</h1>
          <div ng-show="!receipes.length">No receipes</div>          
          <div ng-if="receipes.length" class="col-sm-6 col-md-4" ng-repeat-start="s in receipes">
            <div class="thumbnail">
              <img src="{{s.picture}}" alt="{{s.name}}\'s picture" width="300px" height="300px">
              <div class="caption">
                <h3>{{s.name}}</h3>
                <p>Calories : {{s.values}}</p>
                <p>{{s.description}}</p>
                <p><a href="#receipe/{{s._id}}" class="btn btn-primary" role="button">See item page</a>
              </div>
            </div>
          </div>
          <div  ng-repeat-end=""></div>

		</div>
</div>